<app-admin-navbar></app-admin-navbar>

<div style="font-family: Roboto">
  <div class="d-flex justify-content-center">
    <div>
      <div class="row">
        <div class="col-7" style="color: navy;font-weight: bold;font-size: 150%">List Of Employee</div>
      </div>
      <div style="padding-top: 20px">
        <table class="table table-hover table-bordered ">
          <thead class="thead-light">
          <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">Role</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Manager Name</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of userList">
            <th scope="row">{{user.empId}}</th>
            <td>{{user.role}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobileNo}}</td>
            <td>{{user.managerName}}</td>
            <td class="text-danger">
              <button (click)="openPopup(user)"
                      type="button" class="btn btn-danger pull-right">Delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
