<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8289C4;
font-family: Roboto;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"
           style="font-weight: bold;font-size: 20px ; color: white; margin-right: 20px; font-family: Roboto"
           href="home-admin">ADMIN</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: white" (click)="addOdc()">
          <i class="fa fa-ticket" aria-hidden="true">Add ODC</i></a>
      </li>
      <li class="nav-item active" (click)="redirectToRegistrationRequest()">
        <a class="nav-link" style="color: white"><i class="fa fa-calendar-check-o" aria-hidden="true">Registration
          Requests</i>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="register" style="color: white"><i class="fa fa-user-circle" aria-hidden="true">Add
          Employee</i></a>
      </li>
      <li class="nav-item active">
        <button class="btn btn-outline-light my-2 my-sm-0" style="color: black  " (click)="odcRequest()"><i class="fa fa-bars" aria-hidden="true"> Visitor Access Request</i>
        </button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>
<br>

<div style="font-family: Roboto" *ngIf="isRegisterRequest==false && odcFlag==false && addOdcFlag==false">
  <div class="d-flex justify-content-center">
    <div>
      <div class="row">
        <div class="col-7" style="color: navy;font-weight: bold;font-size: 150%">List Of Employee</div>
      </div>
      <div style="padding-top: 20px">
        <table class="table table-hover table-bordered ">
          <thead class="thead-light">
          <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">Role</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Manager Name</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of userList">
            <th scope="row">{{user.empId}}</th>
            <td>{{user.role}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobileNo}}</td>
            <td>{{user.managerName}}</td>
            <td class="text-danger">
              <button (click)="deleteUser(user)" type="button" class="btn btn-danger pull-right">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-registration-request *ngIf="isRegisterRequest==true && odcFlag==false"
                          [EmployeeList]="managerList"
                          [isAdmin]="true"
                          [isPendingRequest]=isPendingRequest>
</app-registration-request>

<app-managerodcrequests *ngIf="odcFlag">
</app-managerodcrequests>

<app-odc *ngIf="addOdcFlag">
</app-odc>
