<nav class="navbar justify-content-center" style="background-color: #8289C4;">
  <a class="navbar-brand">
    <span style="font-weight: bold;color: white"> Register here...</span>
  </a>
</nav>

<br>
<div class="d-flex justify-content-center">
  <div *ngIf="flag" class="alert alert-secondary " role="alert" style="width: 60%">
    {{message}}
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="main-container">
    <form name="form" [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName"><b>First Name</b></label>
          <input type="text" placeholder="First Name" class="form-control" formControlName="firstName"
                 [ngClass]="{'is-invalid':registrationForm.get('firstName').touched && registrationForm.get('firstName').invalid}"
                 required/>
          <div *ngIf="registrationForm.get('firstName').touched && registrationForm.get('firstName').invalid"
               class="invalid-feedback">
            <div *ngIf="registrationForm.get('firstName').errors.required"> first name is required.</div>
            <div *ngIf="registrationForm.get('firstName').errors.pattern">first name is invalid</div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="lastName"><b>Last Name</b></label>
          <input type="text" placeholder="Last Name" class="form-control" formControlName="lastName"
                 [ngClass]="{'is-invalid':registrationForm.get('lastName').touched && registrationForm.get('lastName').invalid}"
                 required/>
          <div *ngIf="registrationForm.get('lastName').touched && registrationForm.get('lastName').invalid"
               class="invalid-feedback">
            <div *ngIf="registrationForm.get('lastName').errors.required"> last name is required.</div>
            <div *ngIf="registrationForm.get('lastName').errors.pattern">last name is invalid</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="empId"><b>Employee ID</b></label>
          <input type="text" placeholder="Employee Id" class="form-control" formControlName="empId"
                 [ngClass]="{'is-invalid':registrationForm.get('empId').touched && registrationForm.get('empId').invalid}"
                 required/>
          <div *ngIf="registrationForm.get('empId').touched && registrationForm.get('empId').invalid"
               class="invalid-feedback">
            <div *ngIf="registrationForm.get('empId').errors.required">Employee id required</div>
            <div *ngIf="registrationForm.get('empId').errors.pattern"> Employee id should be 7 character</div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="password"><b>Password</b></label>
          <input type="password" class="form-control" placeholder="Password" formControlName="password"
                 id="password-field"
                 [ngClass]="{'is-invalid':registrationForm.get('password').touched && registrationForm.get('password').invalid}"/>
          <i id="pass-status" class="fa fa-eye-slash icon" aria-hidden="true" style="margin-right: 30px;"
             (click)="viewPassword()"></i>
          <div *ngIf="registrationForm.get('password').touched && registrationForm.get('password').invalid"
               class="invalid-feedback">
            <div *ngIf="registrationForm.get('password').errors.required">Password is required</div>
            <div *ngIf="registrationForm.get('password').errors.pattern">Password should contain
              uppercase,lowercase,digit and symbol and 8 character long
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email"><b>Email</b></label>
        <input type="text" class="form-control" placeholder="Please enter your email id" formControlName="email"
               [ngClass]="{'is-invalid':registrationForm.get('email').touched && registrationForm.get('email').invalid}"/>
        <div *ngIf="registrationForm.get('email').touched && registrationForm.get('email').invalid"
             class="invalid-feedback">
          <div *ngIf="registrationForm.get('email').errors.required">Email Name is required</div>
          <div *ngIf="registrationForm.get('email').errors.pattern">Email must be a valid email Address</div>
        </div>
      </div>

      <div class="form-group">
        <label for="mobileNo"><b>Contact Number</b></label>
        <input type="text" placeholder="Please enter your mobile no. (+91-xxxxxxxxxx)" class="form-control" formControlName="mobileNo"
               [ngClass]="{'is-invalid':registrationForm.get('mobileNo').touched && registrationForm.get('mobileNo').invalid}"
                required/>
        <div *ngIf="registrationForm.get('mobileNo').touched && registrationForm.get('mobileNo').invalid"
             class="invalid-feedback">
          <div *ngIf="registrationForm.get('mobileNo').errors.required">Mobile No required</div>
          <div *ngIf="registrationForm.get('mobileNo').errors.pattern"> Mobile No should e valid</div>
        </div>
      </div>

      <div class="form-group ">
        <label for="role" style="margin-right: 20px"><b>Role</b></label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Employee" style="margin-left: 5px"
                 (change)="getSelectedRole($event)" checked disabled>
          <label class="form-check-label" style="margin-left: 5px" for="inlineCheckbox1">Employee</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Manager" style="margin-left: 5px"
                 (change)="getSelectedRole($event)">
          <label class="form-check-label" style="margin-left: 5px" for="inlineCheckbox1">Manager</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Odc-Manager"
                 style="margin-left: 5px"
                 (change)="getSelectedRole($event)">
          <label class="form-check-label" style="margin-left: 5px" for="inlineCheckbox1">Odc-Manager</label>
        </div>
        <br>
      </div>

      <div *ngIf="isEmployee">
        <label for="manager"><b>Select Manager</b></label>
        <div class="form-group">
          <select class="form-control" name="managerName" formControlName="managerName">
            <option>Select Manager</option>
            <option *ngFor="let m of managers">{{m.firstName}} {{m.lastName}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="isOdcManager">
        <label for="odc" style="margin-right: 20px"><b>Select ODC</b></label>
        <div class="form-check form-check-inline">
          <div *ngFor="let odc of odcs">
            <input class="form-check-input" type="checkbox"
                   style="margin-left: 5px"
                   (change)="getSelectedOdc($event,odc.odcName)">
            <label class="form-check-label" style="margin-left: 5px" for="inlineCheckbox1">{{odc.odcName}}</label>
          </div>
        </div>
      </div>

      <br>

      <div class="d-flex justify-content-center">
        <button class="justify-content-center" type="submit" class="btn btn-danger"
                [disabled]="!registrationForm.valid">Register
        </button>
      </div>

      <div class="d-flex justify-content-center">
        <div style=" margin-top: 20px;font-size: 15px">Already have an account ?
          <span style="color: cornflowerblue; font-weight: bold; padding-left: 10px" (click)="redirectToLogin()">Login here</span>
        </div>
      </div>
    </form>

  </div>
</div>
