
.main-container {
  padding: 20px;
  width: 40%;
  height: auto;
  margin-top: 1%;
  border-radius: 1%;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px #888888;
  margin-bottom: 3%;
}

.icon{
  float: right;
  margin-right: 6px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  color:black;
}
span{
cursor:pointer;
}

.btn1{
  background-color: rgb(88, 88, 230);   /*#8289C4 */
  color: white;
  
}
.btn1:hover{
  border-color: white;
}

/* .btn1{
  border-color: cornflowerblue;
} */
