
.main-container {
  padding: 20px;
  width: 40%;
  height: auto;
  margin-top: 1%;
  border-radius: 1%;
  border: 1px solid lightgrey;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 3%;
}

.icon{
  float: right;
  margin-right: 6px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  color:black;
}
span{
cursor:pointer;
}

.btn1{
  background-color: rgb(88, 88, 230);   /*#8289C4 */
  color: white;

}
.btn1:hover{
  border-color: white;
}

/* .btn1{
  border-color: cornflowerblue;
} */

.logo {
  width: 20%;
  height: 30%;
  margin-top: 7%;
}
