
<app-manager></app-manager>

<div class="d-flex justify-content-center">
  <div style="padding-bottom: 20px">
    <div class="row">
      <div class="col-7" style="color: navy;font-weight: bold;font-size: 150%;font-family: Roboto">ODC Access Request</div>
    </div>
    <div style="padding-top: 20px;font-family: Roboto">
      <table class="table table-hover table-bordered ">
        <thead class="thead-light">
        <tr>
          <th scope="col" >Employee Id</th>
          <th scope="col">Start Date</th>
          <th scope="col" >End Date</th>
          <th scope="col" >Access From</th>
          <th scope="col" >Access Till</th>
          <th scope="col" >Status</th>
          <th scope="col" >Odc</th>
          <th scope="col" >Approve</th>
          <th scope="col" >Reject</th>
        </tr>
        </thead>
        <tbody style="font-family: Roboto">
        <tr *ngFor="let request of visitorRequests">
          <td style="font-weight: bold"> {{request.empId}}</td>
          <td>{{request.startDate}}</td>
          <td>{{request.endDate}}</td>
          <td>{{request.startTime}}</td>
          <td>{{request.endTime}}</td>
          <td class="btn-link">{{request.status}}</td>
          <td>{{request.odc}}</td>
          <td class="text-success">
            <button (click)="approve(request);Approve.disabled=true" type="button" #Approve id="approve" class="btn btn-success pull-right">Approve</button>
          </td>
          <td class="text-danger">
            <button (click)="reject(request);Approve.disabled=true" type="button" #Reject id="reject" class="btn btn-danger pull-right">Reject</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
