<app-manager></app-manager>

<lib-ngx-notification></lib-ngx-notification>

<!--<div class="d-flex justify-content-center">-->
<!--  <div *ngIf="flag===true" class="d-flex justify-content-center">-->
<!--    <img src="../../../assets/NoRecordFound.jpg" class="image">-->
<!--  </div>-->
<!--</div>-->

<div class="d-flex justify-content-center">
  <div *ngIf="flag===true">
    <div class="d-flex flex-column">
      <div class="p-2"><img class="image" src="../../../assets/download.png" class="image"></div>
      <div class="text">No Pending Request !!!</div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div style="padding-bottom: 20px" *ngIf="flag===false">
    <div class="row">
      <div class="col-7" style="color: navy;font-weight: bold;font-size: 150%;font-family: Roboto">ODC Access Request
      </div>
    </div>
    <div style="padding-top: 20px;font-family: Roboto">
      <table class="table table-hover table-bordered ">
        <thead class="thead-light">
        <tr>
          <th scope="col">Employee Id</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Access From</th>
          <th scope="col">Access Till</th>
          <th scope="col">Status</th>
          <th scope="col">ODC</th>
          <th scope="col">Approve</th>
          <th scope="col">Reject</th>
        </tr>
        </thead>
        <tbody style="font-family: Roboto">
        <tr *ngFor="let request of visitorRequests">
          <td style="font-weight: bold"> {{request.empId}}</td>
          <td>{{request.startDate}}</td>
          <td>{{request.endDate}}</td>
          <td>{{request.startTime | time24to12Transform}}</td>
          <td>{{request.endTime | time24to12Transform}}</td>
          <td class="btn-link" *ngIf="request.status===AcceptedByManager">Approved</td>
          <td class="btn-link" *ngIf="request.status===RejectedByManager">Rejected</td>
          <td class="btn-link" *ngIf="request.status===PendingApproval">PendingApproval</td>
          <td>{{request.odc}}</td>
          <td class="text-success">
            <button (click)="approve(request);Approve.disabled=true" type="button" #Approve id="approve"
                    class="btn btn-outline-success my-2 my-sm-0 pull-right">Approve
            </button>
          </td>
          <td class="text-danger">
            <button (click)="reject(request);Approve.disabled=true;Reject.disabled=true" type="button" #Reject
                    id="reject"  class="btn btn-outline-danger my-2 my-sm-0 pull-right">Reject
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
