
.image {
  margin-top: 20px;
  width: 80%;
}

.text {
  font-family: Roboto;
  color: navy;
  margin: 20px;
  font-weight: bold;
  margin-left: 10px;
  font-size: 30px;
  text-shadow: 3px 2px lightgray;
}
