<!--<app-managerprofile></app-managerprofile>-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="font-weight: bold;font-size: 20px" href="home-admin">ADMIN</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="managerOdcRequests"><i class="fa fa-calendar-check-o" aria-hidden="true">ODC Access
          Requests</i></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>

<div class="d-flex justify-content-center">
  <div style="padding-bottom: 20px">
    <div class="row">
      <div class="col-7" style="color: navy;font-weight: bold;font-size: 120%">Request Raised for ODC Access</div>
    </div>
    <div style="padding-top: 20px">
      <table class="table table-hover table-bordered ">
        <thead class="thead-light">
        <tr>
          <th scope="col">Employee Id</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Access From</th>
          <th scope="col">Access Till</th>
          <th scope="col">Status</th>
          <th scope="col">Odc</th>
          <th scope="col">Approve</th>
          <th scope="col">Reject</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let request of visitorRequests">
          <td>{{request.empId}}</td>
          <td>{{request.startDate}}</td>
          <td>{{request.endDate}}</td>
          <td>{{request.startTime}}</td>
          <td>{{request.endTime}}</td>
          <td>{{request.status}}</td>
          <td>{{request.odc}}</td>
          <td class="text-success">
            <button (click)="approve(request)" type="button" class="btn btn-success pull-right">Approve</button>
          </td>
          <td class="text-danger">
            <button (click)="reject(request)" type="button" class="btn btn-danger pull-right">Reject</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
