<div *ngIf="!success" style="margin-bottom: 50px">
  <div align="center">
    <div class="row-mt-2">
      <div class="col-md-6">
        <form #request="ngForm" autocomplete="off" (ngSubmit)="raiseRequest()" class="box">
          <div class="container">
            <p>Please fill in this form to raise request to ODC</p>
            <hr>
            <div class="form-group" align="left">
              <label for="empId"><b>Employee ID</b></label>
              <input type="text" placeholder="Enter Your Employee ID" class="form-control" name="empId"
                     id="empId" required [(ngModel)]="visitorRequest.empId" #EmpID="ngModel"
                     pattern="[0-9]{7}" [class.is-invalid]="EmpID.touched && EmpID.invalid" minlength="7"
                     maxlength="7">
              <div *ngIf="EmpID.touched && EmpID.invalid">
                <span *ngIf="EmpID.errors.required" style="color:red">EmpID is required</span>
                <span *ngIf="EmpID.errors.pattern" style="color:red">Numbers Only</span>
                <span *ngIf="EmpID.errors.minlength" style="color:red">ID should be Seven numbers
                                    only</span>
                <span *ngIf="EmpID.errors.maxlength" style="color:red">ID should be Seven numbers
                                    only</span>
              </div>
            </div>
            <div class="form-group" align="left">
              <label for="startDate"><b>Start Date</b></label>
              <input type="date" placeholder="Enter Date" class="form-control" name="startDate"
                     id="startDate" required [(ngModel)]="visitorRequest.startDate" #StartDate="ngModel"
                     [class.is-invalid]="StartDate.touched && StartDate.invalid"/>
              <div *ngIf="StartDate.touched && StartDate.invalid">
                <span *ngIf="StartDate.errors.required" style="color:red">Date is required</span>
              </div>
            </div>
            <div class="form-group" align="left">
              <label for="endDate"><b>End Date</b></label>
              <input type="date" placeholder="Enter Date" class="form-control" name="endDate" id="endDate"
                     required [(ngModel)]="visitorRequest.endDate" #EndDate="ngModel"
                     [class.is-invalid]="EndDate.touched && EndDate.invalid"/>
              <div *ngIf="EndDate.touched && EndDate.invalid">
                <span *ngIf="EndDate.errors.required" style="color:red">Date is required</span>
              </div>
            </div>
            <div class="form-group" align="left">
              <label for="startTime"><b>Access ODC From</b></label>
              <input type="time" placeholder="Enter Time" class="form-control" name="startTime"
                     id="startTime" required [(ngModel)]="visitorRequest.startTime" #StartTime="ngModel"
                     [class.is-invalid]="StartTime.touched && StartTime.invalid"/>
              <div *ngIf="StartTime.touched && StartTime.invalid">
                <span *ngIf="StartTime.errors.required" style="color:red">Time is required</span>
              </div>
            </div>
            <div class="form-group" align="left">
              <label for="endTime"><b>Access ODC Till</b></label>
              <input type="time" placeholder="Enter Time" class="form-control" name="endTime" id="endTime"
                     required [(ngModel)]="visitorRequest.endTime" #EndTime="ngModel"
                     [class.is-invalid]="EndTime.touched && EndTime.invalid"/>
              <div *ngIf="EndTime.touched && EndTime.invalid">
                <span *ngIf="EndTime.errors.required" style="color:red">Time is required</span>
              </div>
            </div>

            <div class="form-group" align="left">
              <label for="odc"><b>ODC Name</b></label>
              <select type="text" required placeholder="Select ODC" class="form-control" name="odc"
                      id="odcName" [(ngModel)]="visitorRequest.odc" #Odc="ngModel"
                      [class.is-invalid]="Odc.touched && Odc.invalid">
                <option value="">Please select</option>
                <option *ngFor='let odc of odcs' [value]="odc.odcName">{{odc.odcName}}</option>
              </select>

              <div *ngIf="Odc.touched && Odc.invalid">
                <span *ngIf="Odc.errors.required" style="color:red">ODC is required</span>
              </div>
            </div>

            <div class="form-group" align="left">
              <label for="managerEmpID"><b>Manager</b></label>
              <select type="text" required placeholder="Select Manager" class="form-control" name="managerEmpID"
              id="managerEmpID" [(ngModel)]="visitorRequest.managerEmpID" #ManagerEmpId="ngModel"
              [class.is-invalid]="ManagerEmpId.touched && ManagerEmpId.invalid">
                <option>Choose Manager</option>
                <option *ngFor="let m of managers" [value]="m.empId">{{m.firstName}} {{m.lastName}}</option>
              </select>
              <div *ngIf="ManagerEmpId.touched && ManagerEmpId.invalid">
                <span *ngIf="ManagerEmpId.errors.required" style="color:red">Manager is required</span>
              </div>
            </div>

            <input type="submit" value="Request Access" class="btn btn-success btn-block"
                   [disabled]="request.invalid">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="success">
  <p align="center">Request Raised Successfully!!! Pending for approval</p>
</div>
