.h {
  text-align: center;
  color: skyblue;
  text-shadow: 2px 2px black;
}

.hh {
  margin-left: 100px;
  text-shadow: 2px 2px #FFFFFF;
}

.p {
  border-radius: 5px;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 30px;
  border-radius: 1%;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px #888888;
}

.bottom {
  text-align: center;
}

.bodybg-color {
  background-color: red;
}

h5 {
  color: red;
}

.icon{
  float: right;
  margin-right: 6px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  color:black;
}