.h {
  text-align: center;
  color: skyblue;
  text-shadow: 2px 2px black;
}

.hh {
  margin-left: 100px;
  text-shadow: 2px 2px #FFFFFF;
}

.p {
  border-radius: 5px;
  margin-top: 30px;
  width: 40%;
  padding-left: 6%;
  border-radius: 1%;
  border: 1px solid lightgrey;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding-top: 1%;
  padding-bottom: 2%;
  z-index: 1;
}

.bottom {
  text-align: center;
}

.bodybg-color {
  background-color: red;
}

h5 {
  color: red;
}

.icon {
  float: right;
  margin-right: 6px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  color: black;
}

.logo {
  width: 20%;
  height: 30%;
  margin-top: 7%;
}
