<nav class="navbar justify-content-center" style="background-color: #8289C4;">
  <a class="navbar-brand">
    <span style="font-weight: bold;color:white;"> Login here...</span>
  </a>
</nav>

<br>
<div class="d-flex justify-content-center">
  <div *ngIf="res" class="alert alert-secondary " role="alert" style="width: 60%">
    {{message}}
  </div>
</div>

<div class="d-flex  justify-content-center">
  <img alt="logo" class="logo" fxHide.xs
       src="../../../assets/kissclipart-login-png-clipart-user-computer-icons-a59899d3a10c7dde-removebg-preview%20(1).jpg">
  <div class="p">
    <br>
    <div class="row">
      <div class="col-md-10">
        <form #logForm="ngForm">
          <div class="form-group">

            <label for="empId"> <b>Employee ID</b></label>
            <input #empId="ngModel" type="text" [(ngModel)]="lg.empId" placeholder="Enter your Employee ID"
                   name="empId" required class="form-control" required>
          </div>
          <div class="form-group">
            <label for="password"><b>Password</b></label><br>
            <input #password="ngModel" type="password" placeholder="Enter your Password"
                   [(ngModel)]="lg.password"
                   name="password" required class="form-control" id="password-field"/>
            <i id="pass-status" class="fa fa-eye-slash icon" aria-hidden="true" style="margin-right: 30px;"
               (click)="viewPassword()"></i>
          </div>

          <label for="role"><b>Role</b></label><br>

          <input type="radio" id="employee" name="role" value="Employee" checked>
          <label for="employee">Employee</label>&nbsp;
          <input type="radio" id="admin" name="role" [(ngModel)]="lg.role" value="Admin">
          <label for="admin">Admin</label>&nbsp;
          <input type="radio" id="odcManager" name="role" [(ngModel)]="lg.role" value="Odc-Manager">
          <label for="odcManager">ODC Manager</label>&nbsp;
          <input type="radio" id="manager" name="role" [(ngModel)]="lg.role" value="Manager">
          <label for="manager">Manager</label>

          <!-- <label for="role"><b>Role</b></label><br>
          <select class="form-control" (change)="changeWebsite($event)">
            <option disabled>Select Role</option>
            <option *ngFor="let role of listOfRole">{{role}}</option>
          </select> -->
          <br>
          <br>
          <div class="bottom">
            <input type="submit" class="btn btn-danger" value="Login"
                   [disabled]="logForm.invalid" (click)="logins()">
            <br>
            <!--            <span type="button-link" style="color: cornflowerblue; font-weight: bold; padding-left: 10px"-->
            <!--                  >Login here</span>-->
            <!--            <a [routerLink]="['/register','None']" routerLinkActive="active"-->
            <!--               class="link">New Registration?</a>-->
          </div>
          <div class="d-flex justify-content-center">
            <div style=" margin-top: 20px;font-size: 15px">Don't have an account ?
              <span type="button-link" style="color: cornflowerblue; font-weight: bold; padding-left: 10px;cursor: pointer"
                    (click)="redirectToRegister()">Register here</span>
            </div>
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>


</div>
