<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#0E0D6C;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="home-admin"
           style="font-weight: bold;font-size: 20px ; color: white ;"
        >ADMIN</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="commonpage"
           style="color: white;">
           <i class="fa fa-dashboard"></i>&nbsp;Dashboard</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" routerLinkActive="active" routerLink="/home-admin" style="color: white;margin: 0px">
          <i class="fa fa-address-card" aria-hidden="true"></i>
          List Of Employee
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" routerLink="/admin-odc" routerLinkActive="active" style="color: white;margin: 0px">
          <i class="fa fa-ticket" aria-hidden="true"></i>
          Add ODC
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" routerLink="/register-request" routerLinkActive="active" style="color: white">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          Registration Request
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/register','Admin']" style="color:  white">
          <i class="fa fa-user-circle" aria-hidden="true"></i> Add Employee</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="nav-link" style="font-weight: bold;font-size: 20px;color: white;margin-right: 20px;"
      onClick=history.back()><i class="fa fa-chevron-circle-left"></i>Back</a>
      <button style="padding: 8px 20px;margin-right: 20px" class="btn btn-outline-light my-2 my-sm-0" type="submit"
              (click)="logout()">Logout&nbsp;<i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</nav>
<br>


