<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8289C4;
font-family: 'Times New Roman'">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link"
           style="font-weight: bold;font-size: 20px;color: white;margin-right: 20px;">Dashboard</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button style="padding: 8px 20px;margin-right: 20px" class="btn btn-outline-light my-2 my-sm-0" type="submit"
              (click)="logout()">Logout
      </button>
    </form>
  </div>
</nav>

<br>
<div class="mmm">
  <div class="d-flex justify-content-center" >
    <div class="b">
      <div class="main-container"  (click)="redirect()" style="color: white;text-decoration: none">
       Employee Service
       
       </div>
      </div>

    <div class="b">
      <div class="main-container" (click)="redirectTo()" style="color: white;text-decoration: none;font-family: 'Times New Roman'">
        Asset Management
      </div>
    </div>
    </div>
</div>


























<!-- <div class="main-container">
  <div *ngIf="isEmployee">
    <a href="raiseOdcRequest">Employee Service</a>
    <a href="raiseOdcRequest" style="color: white;text-decoration: none"></a>
  </div>
  <div *ngIf="isManager">
    <a href="odc-request">Employee Service</a>
 
    <a href="odc-request" style="color: white;text-decoration: none"></a>
  </div>
  <div *ngIf="isOdcManager">
    <a href="odcManagerRequests" style="color: white;text-decoration: none">Employee Service</a>
  
    <a href="odcManagerRequests" style="color: white;text-decoration: none"></a>
  </div>
  <div *ngIf="isAdmin">
    <a href="home-admin" style="color: white;text-decoration: none">Employee Service</a>
  </div>
</div> -->