<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8289C4;
font-family: Roboto">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" style="font-weight: bold;font-size: 20px;color: white;margin-right: 20px;font-family: Roboto"
           >Welcome</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button style="padding: 8px 20px;margin-right: 20px" class="btn btn-outline-light my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>

<br>
<!-- <h3  align="center"><i>Dashboard</i></h3> -->

<div class="mmm">
<div class="d-flex justify-content-center" style="font-family: Roboto">

<div class="b">
  <div class="main-container">

    <div *ngIf="isEmployee">
    Employee Service
  <a href="raiseOdcRequest"></a>
</div>


<div *ngIf="isManager">
Employee Service
  <a href="odc-request"></a>
</div>

<div *ngIf="isOdcManager">
Employee Service
  <a href="odcManagerRequests"></a>
</div>



<div *ngIf="isAdmin">
Employee Service
  <a href="home-admin"></a>
</div>

 </div>
 </div>

<div class="b">
  <div class="main" >
    Asset Management
 <a href="assetmanagement"></a>
     
  </div>
  </div>

</div>

</div>

