<app-admin-navbar></app-admin-navbar>

<div class="d-flex justify-content-center">
  <div *ngIf="flag" class="alert alert-secondary " role="alert" style="width: 60%">
    {{message}}
  </div>
</div>

<div class="d-flex justify-content-center" style="font-family: Roboto">
  <div class="main-container">
    <div class="row">
      <div class="col-7" style="color: navy;font-weight: bold;font-size: 120%; margin-bottom: 5px">
        ODC List</div>
    </div>
    <table class="table table-hover table-bordered ">
      <thead class="thead-light">
      <tr>
        <th scope="col">ODC Name</th>
        <th scope="col">View ODC Manager</th>
        <th scope="col">Remove ODC</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let odc of odcList">
        <td>{{odc.odcName}}</td>
        <td class="text-success">
          <button (click)="view(odc.odcName)" type="button" class="btn btn-success pull-right">View ODC Managers
          </button>
        </td>
        <td class="text-danger">
          <button (click)="openPopup(odc)" type="button" class="btn btn-danger pull-right">Remove ODC</button>
        </td>

<!--        <td class="text-danger">-->
<!--          <button (click)="deleteOdc(odc)" type="button" class="btn btn-danger pull-right">Remove ODC</button>-->
<!--        </td>-->
      </tr>
      </tbody>
    </table>
  </div>

  <div class="main" style="margin-left: 30px">
    <ul class="list-group list-group-flush">
      <label><b>Enter ODC Name</b></label>
      <input type="text" [(ngModel)]="odcName" required/>
    </ul>
    <div class="d-flex justify-content-center">
      <button type="button" style="margin-top: 30px; font-weight:bold;background-color: rgb(0,64,133);color: #B8DAFF"
              class="btn btn-primary" (click)="addOdc()">ADD ODC
      </button>
    </div>
  </div>
</div>
