<app-admin-navbar></app-admin-navbar>

<lib-ngx-notification></lib-ngx-notification>

<div class="d-flex justify-content-center">
  <div *ngIf="flag" class="alert alert-secondary " role="alert" style="width: 60%">
    {{message}}
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="main-container">
    <div class="row">
      <div class="col-7" style="color: rgb(0,64,133);font-weight: bold;font-size: 120%; margin-bottom: 5px">
        ODC List
      </div>
    </div>
    <table class="table table-hover table-bordered" style="border-color: red">
      <thead style="background-color: #919bec;border-color:lightblue;color: whitesmoke">
      <tr>
        <th scope="col">ODC Name</th>
        <th scope="col">View ODC Manager</th>
        <th scope="col">Edit ODC</th>
        <th scope="col">Remove ODC</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let odc of odcList">
        <td *ngIf="isEdit==false" class="tableData"
            style="font-size: 18px;">
          {{odc.odcName}}
        </td>
        <td *ngIf="isEdit==true" class="tableData">
          <input class="input-border"
                 [(ngModel)]="odc.odcName"
                 style="border:none;width: 180px;font-size: 18px; background-color: whitesmoke;"
                 matInput
                 autocomplete="off" maxlength="30"
                 (ngModelChange)="edit(odc)">
        </td>

        <td class="tableData">
          <button style="margin-left: 70px;" (click)="view(odc.odcName)"
                  mat-icon-button>
            <mat-icon style="color: royalblue">people</mat-icon>
          </button>
        </td>

        <td class="tableData">
          <button *ngIf="isEdit==false || odc.odcName!=currentOdc" (click)="edit(odc)" style="margin-left: 20px;"
                  mat-icon-button class="icon-label">
            <mat-icon class="icon">edit</mat-icon>
          </button>
          <button *ngIf="isEdit==true && odc.odcName==currentOdc" (click)="updateOdc(odc)" style="margin-left: 20px;"
                  mat-icon-button class=" icon-label">
            <mat-icon class="icon">check</mat-icon>
          </button>
        </td>

        <td class="tableData">
          <button [disabled]="odc.odcId==1" class="deleteButton" matTooltip="Delete" style="margin-left: 37px;"
                  mat-icon-button (click)="openPopup(odc)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="main" style="margin-left: 30px;background-color: whitesmoke">
    <ul class="list-group list-group-flush">
      <label style="color:  rgb(0,64,133)"><b>Enter ODC Name</b></label>
      <input type="text" [(ngModel)]="odcName" required/>
    </ul>
    <div class="d-flex justify-content-center">
      <button type="button" style="margin-top: 30px; font-weight:bold;background-color: rgb(0,64,133);color: whitesmoke"
              class="btn btn-primary" (click)="addOdc()">ADD ODC
      </button>
    </div>
  </div>
</div>
