
* {
  margin: 0px;
  padding: 0px;
}

.active {
  color: #0E0D6C !important;
  background-color: white !important;
  border-radius: 5px;
  margin: 0px;
  border: #8289C4 1px solid;
  position: relative;
}

a {
  margin-left: 10px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.card {
  margin: 20px;
}

.card:hover {
  border: 2px solid rgb(204, 204, 255);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.laptop {
  width: 90%;
  margin: 20px;
  margin-top: 40px;
}

.keyboard {
  margin: 20px;
  width: 90%;
  height: 50%;
  margin-top: 50px;
}

.monitor {
  width: 80%;
  margin: 20px;
  height: 50%;
  margin-top: 50px;
}

.cpu {
  width: 90%;
  margin: 20px;
  height: 70%;
  margin-top: 35px;
}

.image {
  margin-top: 20px;
  margin-left: 30px;
}

.text {
  font-family: Roboto;
  color: navy;
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 3px 2px lightgray;
}

.other {
  font-weight: bold;
  font-size: 20px;
  margin-left: 32px;
  padding-top: 84px;

}


.profile-div {
  overflow: hidden;
  width: 190px;
  height: 190px;
  padding: 8px 15px 15px 45px;
}

.profileName {
  text-align: center;
  font-size: 17px;
  padding-top: 10px;
  font-family: "Times New Roman";
  font-weight: bold;
}

.profileEmail {
  text-align: center;
  opacity: 0.6;
  font-size: 15px;
  margin-right: 6px;
}

.signout {
  margin-top: 15px;
  margin-left: 25px;
  background: #0E0D6C;
  color: white;
}
