
* {
  margin: 0px;
  padding: 0px;
}

.active {
  color: #8289C4 !important;
  background-color: white !important;
  border-radius: 5px;
  margin: 0px;
  border: #8289C4 1px solid;
  position: relative;
}

a {
  margin-left: 10px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.card {
  margin: 20px;
}

.card:hover {
  border: 1px solid lightgrey;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.laptop {
  width: 90%;
  margin: 20px;
  margin-top: 40px;
}

.keyboard {
  margin: 20px;
  width: 90%;
  height: 50%;
  margin-top: 35px;
}

.monitor {
  width: 80%;
  margin: 20px;
  height: 50%;
  margin-top: 55px;
}

.cpu {
  width: 90%;
  margin: 20px;
  height: 70%;
  margin-top: 35px;
}

.image {
  margin-top: 20px;
  margin-left: 30px;
}

.text {
  font-family: Roboto;
  color: navy;
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 3px 2px lightgray;
}

.other {
  font-weight: bold;
  font-size: 20px;
  margin-left: 32px;
  padding-top: 84px;
}
