<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8289C4;
font-family: 'Times New Roman'">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <li class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a *ngIf="role==='Employee'" class="nav-link"
           style="font-weight: bold;font-size: 20px;color: white;margin-right: 20px;"
           href="assetmanagement">Employee</a>
        <a *ngIf="role==='Manager'" class="nav-link"
           style="font-weight: bold;font-size: 20px;color: white;margin-right: 20px;"
           href="assetmanagement">Manager</a>
        <a *ngIf="role==='Odc-Manager'" class="nav-link"
           style="font-weight: bold;font-size: 20px;color: white;margin-right: 20px;"
           href="assetmanagement">ODC Manager</a>
        <a *ngIf="role==='Admin'" class="nav-link"
           style="font-weight: bold;font-size: 20px;color: white;margin-right: 20px;"
        >Admin</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" style="color: white" routerLinkActive="active" routerLink="/asset-history"><i
          class="fa fa-ticket" aria-hidden="true"></i>Asset History</a>
      </li>
      <li class="nav-item ">
        <a *ngIf="role==='Odc-Manager' || role==='Admin'" class="nav-link" routerLinkActive="active"
           routerLink="/viewAssets"
           style="color: white;"><i class="fa fa-eye" aria-hidden="true"></i>
          View All Asset
        </a>
      </li>
    </ul>


    <form class="form-inline my-2 my-lg-0">
      <a class="nav-link" style="font-weight: bold;font-size: 20px;color: white;margin-right: 20px;font-family: 'Times New Roman'"
      onClick=history.back() ><i class="fa fa-chevron-circle-left"></i>Back</a>
      <button style="padding: 8px 20px;margin-right: 20px" class="btn btn-outline-light my-2 my-sm-0" type="submit"
              (click)="logout()">Logout
      </button>
    </form>
</nav>

<br>

<div class="d-flex justify-content-center">
  <div *ngIf="searchDataFound===true">
    <div class="d-flex flex-column">
      <div class="p-2"><img class="image" src="../../../assets/download.png" class="image"></div>
      <div class="text">Asset Not Found With {{search}} Serial Number !!!</div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center" style="font-family: poppins">
  <div>
    <div *ngFor="let assetData of assetList">
      <div class="card mb-3" style="max-width: 700px;">
        <div class="row g-0">
          <div class="col-md-3" style="margin-right: 20px">
            <img *ngIf="assetData.type===isTypeLaptop" src="../../../assets/laptop.png" class="laptop" alt="...">
            <img *ngIf="assetData.type==isTypeKeyboard" src="../../../assets/key1.jpg" class="keyboard" alt="...">
            <img *ngIf="assetData.type==isTypeMonitor" src="../../assets/monitor.png" class="monitor" alt="...">
            <img *ngIf="assetData.type==isTypeMouse" src="../../../assets/mouse.jpg" class="monitor" alt="...">
            <img *ngIf="assetData.type==isTypeCpu" src="../../../assets/cpu-1.jpg" class="cpu" alt="...">
            <img *ngIf="assetData.type==isProjector" src="../../assets/projector.jpg" class="cpu" alt="...">
            <img *ngIf="assetData.type==isLaptopCharger" src="../../assets/charger.png" class="cpu" alt="...">
            <img *ngIf="assetData.type==isTelephone" src="../../assets/phone.jpg" class="cpu" alt="...">
            <img *ngIf="assetData.type==isTokens" src="../../assets/token.png" class="cpu" alt="...">
            <img *ngIf="assetData.type==isCables" src="../../assets/cable.png" class="cpu" alt="...">
            <img *ngIf="assetData.type==isExtensionCable" src="../../assets/extension.jpg" class="cpu" alt="...">
            <div *ngIf="assetData.type==isTypeOther" class="other" alt="...">Other</div>
          </div>
          <div class="col-md-8" style="padding: 15px 10px">
            <div class="card-body">
              <h5 class="card-title">Serial no - {{assetData.serialNumber}}</h5>

              <span>description <small style="font-size: 15px"
                                       class="text-muted"> - {{assetData.description}}</small></span><br>
              <span>Request Id <small style="font-size: 15px"
                                      class="text-muted"> - {{assetData.requestId}}</small></span><br>

              <span> Status - <small style="font-size: 15px"
                                     class="text-muted">{{assetData.status}}</small></span><br>
              <span *ngIf="assetData.currentOdc===false">{{assetData.type}} was moved to <small style="font-size: 15px"
                                                                                                class="text-muted"> {{assetData.odcName}}
                 </small>odc</span>

              <span *ngIf="assetData.currentOdc===true && assetData.fromDate!==null">{{assetData.type}} is in <small
                style="font-size: 15px"
                class="text-muted">{{assetData.odcName}}
                </small>odc</span>

              <span *ngIf="assetData.currentOdc===false"><br>For the period of <small style="font-size: 15px"
                                                                                      class="text-muted"> - {{assetData.fromDate | date :'short'}}
                <span style="font-weight: bold"> to </span> {{assetData.tillDate | date :'short'}}</small>
              </span>
              <span *ngIf="assetData.currentOdc===true && assetData.fromDate!==null"><br>For the period of <small
                style="font-size: 15px"
                class="text-muted"> - {{assetData.fromDate | date :'short'}}
                <span style="font-weight: bold"> to </span> Till Date</small>
              </span>
              <span *ngIf="assetData.fromDate===null">To Add {{assetData.type}} in {{assetData.odcName}} Odc , request not approved !!!</span>
              <br>
              <span>Added by employee with id<small style="font-size: 15px"
                                                    class="text-muted"> - {{assetData.empId}}</small></span><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

