<!-- <div *ngIf="isEmployee===false">
    <app-manager></app-manager>
</div>

<div *ngIf="isEmployee===true">
    <app-employeeprofile></app-employeeprofile>
</div> -->
<app-assetmanagementnav></app-assetmanagementnav>

<div class="d-flex justify-content-center">
    <div *ngIf="isListPresent== false">
        <div class="d-flex flex-column">
            <div class="p-2"><img class="image" src="../../../assets/download.png" class="image"></div>
            <div class="text">Request Not Raised  !!!</div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div *ngIf="isListPresent=== true" class="container" style="font-family: Roboto">
        <div class="row">
            <div class="col-7" style="color: navy;font-weight: bold;font-size: 120%">Asset Requests &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <i class="fa fa-filter" aria-hidden="true"><b>Filter By</b></i>&nbsp;&nbsp;
            <select type="text" required placeholder="All"
                     [(ngModel)]="selectedText">
              <option value="" disabled>Filter the requests</option>
              <optgroup label="Based On Asset Types">
              <option *ngFor='let asset of assetTypes' [value]="asset">{{asset}}</option>
              </optgroup>
              <optgroup label="Based On Request Status">
                <option value="Pending Approval">Pending Approval</option>
                <option value="Approved">Approved</option>
              </optgroup>
            </select>
        </div> 
        </div>
        <!-- <div>
            <input type="text" [(ngModel)]="selectedText"/>
        </div> -->
        <div style="padding-top: 20px">
            <table class="table table-hover table-bordered ">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Asset Model</th>
                        <th scope="col">Asset Type</th>
                        <th scope="col">Request Status</th>
                        <th scope="col">ODC Name</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let asset of assetList">
                        <tr *ngIf="selectedText=='All' || selectedText==asset.type || selectedText==asset.requestStatus">
                            <td>{{asset.serialNumber}}</td>
                        <td>{{asset.description}}</td>
                        <td>{{asset.type | uppercase}}</td>
                        <td>{{asset.requestStatus}}</td>
                        <td class="btn-link">{{asset.odcName | uppercase}}</td>
                        </tr>
                    </ng-container>
                    <tr *ngIf="!assetList || assetList.length==0">
                        <td colspan="5">
                            No Requests to Display
                        </td>
                    </tr>
                    <!-- <tr *ngFor="let asset of assetList">
                        <td>{{asset.serialNumber}}</td>
                        <td>{{asset.description}}</td>
                        <td>{{asset.type}}</td>
                        <td>{{asset.status}}</td>
                        <td class="btn-link">{{asset.odcName}}</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
