
.main-container {
  background-color: #dbe1e6;
  width: 800px;
  padding: 10px;
  margin: 20px;
  text-align: left;
}


.mmm {
  /*margin-top: 100px;*/
  /*border: 2px solid rgb(204, 204, 255);*/
  /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);*/
}
