<app-manager></app-manager>

<div class="d-flex justify-content-center">
  <div *ngIf="isListPresent == false">
    <div class="d-flex flex-column">
      <div class="p-2"><img class="image" src="../../../assets/download.png" class="image"></div>
      <div class="text">No Reports found!!!</div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
  <div *ngIf="isListPresent == true" class="container">
    <div class="d-flex justify-content-between">
      <div style="color: navy;font-weight: bold;font-size: 120%">Report List</div>
    </div>
    <div style="padding-top: 20px">
      <table class="table table-hover table-bordered ">
        <thead class="thead-light">
        <tr>
          <th scope="col">Employee Id</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Data</th>
          <th scope="col">Sprint Details</th>
          <th scope="col">Report</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let report of weeklyReport">
          <tr>
            <td>{{report.empId}}</td>
            <td>{{report.startDate}}</td>
            <td>{{report.endDate}}</td>
            <td>{{report.sprintData}}</td>
            <td>
              <!-- {{report.report}} -->
             <button mat-button color="accent" (click)="viewReport(report)">View</button>
            </td>
          </tr>
          <tr *ngIf="!weeklyReport || weeklyReport.length==0">
            <td colspan="5">
              No Reports to Display
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- <div *ngIf="!showreport">
  <div class="mmm">
    <div class="d-flex justify-content-center" >
      <div >
        <div class="main-container" style="color: rgb(10, 7, 7);text-decoration: none; ">
         Employee Id - {{empId}}   <br>
         Report - {{report}}
         </div>
        </div>

      </div>
  </div>
</div>   -->


